/*
 * override.css
 * Haupt-CSS-Override für MapPlus WebGIS
 *
 * @version    1.1
 * @date       2026-02-12
 * @copyright  Trigonet AG
 * @author     Marco Dellenbach
 */
/* Grid-CSS Imports (tundraGrid.css wird per <link> in index_de.htm geladen) */
@import "/mapplus-lib/dojo-release/dojo-release-1.17.3/dojox/grid/enhanced/resources/tundra/EnhancedGrid.css";
@import "/mapplus-lib/dojo-release/dojo-release-1.17.3/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css";

/* TYDAC Disclaimer ausblenden */
#disclaimer_mapplusbytydac {
  display: none !important;
}

#infowin_wait {
  filter: grayscale(100%);
}

/* ===== FRAMEWORK BUTTON BAR AUSBLENDEN (ersetzt durch tnet-mapcontrols) ===== */
#mainButtonBar {
  display: none !important;
}

div[class^='btn'] {
  background-color: #4b7b81;
}

div[class^="btn"]:hover {
  background-color: #dd1533;
}

/* input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  background: #4b7b81;
}

input[type="range"]::-moz-range-thumb:active,
input[type="range"]::-moz-range-thumb:hover {
  background: #4b7b81 !important;
} */

input[type="range"]::-webkit-slider-thumb:active,
input[type="range"]::-webkit-slider-thumb:hover {
  background: #dd1533 !important;
  cursor: pointer;
}

.tundra .dojoxFloatingPaneTitle {
  background-color: #4b7b81 !important;
}


