/*
 *  CheckBox and Radio Widgets,
 *	and the CSS to embed a checkbox or radio icon inside a ToggleButton.
 *
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
 *
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/


.tundra .dijitCheckBox, .tundra .dijitCheckBoxIcon {
	background-image: none !important;
	margin: 0px;
 }

.dijitCheckBoxInput {
	opacity: 100% !important;
}

.tundra .tmpdirCheckBox,
.tundra .tmpdirCheckBoxIcon {		/* inside a toggle button */
	opacity: 0.5;
	margin: 0 0 0 0;
    filter: alpha(opacity=40);
}

/* radio checkboxes */
.pseudoRadio .dijitCheckBox {
	background-image: url('images/checkmark.png') !important; /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin: 0 0 0 0;
	padding: 0;	
	background-position: -112px !important;
}

.pseudoRadio .dijitCheckBoxChecked {
	background-image: url('images/checkmark.png') !important; /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin: 0 0 0 0;
	padding: 0;	
	background-position: -96px !important;
}

.pseudoRadio > div > .dijitCheckBoxInput {
	opacity: 0 !important;
}




 
