/* General */

/* Application Logo */

#logoMapPlus {
    height: 100px;
    width: 360px;
    background: url(../img/ownw_logo.svg) center no-repeat;
    background-size: 240px;
}

/* Application Loading Icon */

#preloader {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url('../img/buttons/loading.gif') no-repeat center center;
    position: absolute;
    z-index: 9999;
}

.loadingMsg {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: #fff url('../img/buttons/loading.gif') no-repeat center center;
    position: absolute;
    z-index: 9999;
}

/* Solr Search Dialog */

#solrsearchFreeInput_close {
    display: block;
    background: url(../img/buttons/close30.svg) center center no-repeat;
    background-size: contain;
    margin-left: 5px !important;
    margin-top: -1px !important;
    width: 31px;
    height: 28px;
    cursor: pointer;
    filter: contrast(0.7) sepia(1.5) brightness(1.35) hue-rotate(130deg);
}

#solrHelp {
    width: 28px;
    height: 28px;
    margin-left: 5px;
    display: block;
    background: url(../img/buttons/help30_green.svg) center center no-repeat #4b7b81;
    cursor: help;
    
}

/* Close Button */

#close-btn {
    background: url(../img/buttons/close30.svg) !important;
    background-size: contain !important;
    width: 24px;
    height: 24px;
    display: block;
    background-size: contain;
}

/* Print Button Legends */

#print-btn {
    width: 24px;
    height: 24px;
    display: block;
    background-size: contain !important;
    background: url(../img/buttons/printer.svg) !important;
}

/* MAP+ Icons Ribbon */

/* Buttons Short URL */

.btnShLinkManager {
    background: url(../img/ribbon/new_black/btn_shlink.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnWeeClip {
    background: url(../img/ribbon/new_black/btn_clipboard.svg) center no-repeat;
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-left: 5px;
    
}

#wee_wrapper {
    background: #FFF;
    top: -10px;
    padding: 15px;
    border: none;
    position: absolute;
    border: 1px solid #000;
    border-top: 3px solid #fff;
    left: 220px;
    min-width: 250px;
}

.toClipboard {
    border: solid 1px #424a52;
    text-align: center;
    width: 250px;
}

/* Ribbon Home Button Bar */

.njsIconButtonPrint {
    background: url(../img/buttons/icon_print_btn.png) center no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    
}

.njsIconButtonImage {
    background: url(../img/ribbon/new_black/btn_preview.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonImage:hover {
    background: url(../img/ribbon/new_black/btn_preview.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
     
}

.njsIconButtonPDFPrint {
    background: url(../img/ribbon/new_black/btn_pdf.svg) center no-repeat;
    height: 32px;
    width: 32px;
    
}

.tundra .dijitToggleButtonHover .njsIconButtonPDFPrint {
    background: url(../img/ribbon/new_black/btn_pdf.svg) center no-repeat;
    height: 32px;
    width: 32px;
    
}

.tundra .dijitToggleButtonChecked .njsIconButtonPDFPrint {
    background: url(../img/ribbon/new_black/btn_pdf.svg) center no-repeat;
    height: 32px;
    width: 32px;
    
}

.btnExport {
    background: url(../img/ribbon/new_black/btn_splitview.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnExport:hover {
    background: url(../img/ribbon/new_black/btn_splitview.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

#shop_callshop {
    background: url(../img/buttons/databest.svg) left 4px center no-repeat;
    display: block;
    width: 115px;
    padding: 4px;
    
}

#shop_callshop:hover {
    background: url(../img/buttons/databest.svg) left 4px center no-repeat;
    display: block;
    width: 115px;
    padding: 4px;
    
}

#shop_set_custom_extent {
    background: url(../img/buttons/reload.svg) left 4px center no-repeat;
    display: block;
    width: 100px;
    padding: 4px;
    
}

.btnMaps {
    background: url(../img/ribbon/new_black/btn_bgmaps.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnMaps:hover {
    background: url(../img/ribbon/new_black/btn_bgmaps.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnThemes {
    background: url(../img/ribbon/new_black/btn_theme.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnThemes:hover {
    background: url(../img/ribbon/new_black/btn_theme.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnRemoveLayers {
    background: url(../img/ribbon/new_black/btn_layers.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnRemoveLayers:hover {
    background: url(../img/ribbon/new_black/btn_layers.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnLocate {
    background: url(../img/ribbon/new_black/btn_locate.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnLocate:hover {
    background: url(../img/ribbon/new_black/btn_locate.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnInitialExtent {
    background: url(../img/ribbon/new_black/btn_home.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain; 
    
}

.btnInitialExtent:hover {
    background: url(../img/ribbon/new_black/btn_home.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain; 
    
}

.btnStreetView {
    background: url(../img/ribbon/new_black/btn_streetview.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnStreetView:hover {
    background: url(../img/ribbon/new_black/btn_streetview.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btn3D {
    background: url(../img/ribbon/new_black/btn_3d.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btn3D:hover {
    background: url(../img/ribbon/new_black/btn_3d.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnInfra3D {
    background: url(../img/ribbon/new_black/btn_infra3D.svg) center no-repeat;
    width: 32px;
    height: 32px;
    
}

.btnInfra3D:hover {
    background: url(../img/ribbon/new_black/btn_infra3D.svg) center no-repeat;
    width: 32px;
    height: 32px;
    
}

.btnLogin {
    background: url(../img/ribbon/new_black/btn_login.svg) center no-repeat;
    width: 32px;
    height: 32px;
}


.tundra .dijitToggleButton .njsIconButtonShop {
    background: url(../img/buttons/shop.svg) center no-repeat;
    height: 48px;
    width: 48px;
    
}

.tundra .dijitToggleButtonHover .njsIconButtonShop {
    background: url(../img/buttons/shop.svg) center no-repeat;
    height: 48px;
    width: 48px;
    
}

.btnHelp {
    background: url(../img/ribbon/new_black/btn_help.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnHelp:hover {
    background: url(../img/ribbon/new_black/btn_help.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnLogout {
    background: url(../img/ribbon/new_black/btn_logout.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

.btnLogout:hover {
    background: url(../img/ribbon/new_black/btn_logout.svg) center no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    
}

/* Ribbon Measure Button Bar */


.njsIconButtonDistanceSimple {
     background: url(../img/ribbon/new_black/btn_measure_simple.svg) center no-repeat;
     height: 32px;
     width: 32px;
     background-size: contain;
}

.njsIconButtonRuler {
    background: url(../img/ribbon/new_black/btn_measure_line.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonRuler:hover {
    background: url(../img/ribbon/new_black/btn_measure_line.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconButtonRuler {
    background: url(../img/ribbon/new_black/btn_measure_line.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonArea {
    background: url(../img/ribbon/new_black/btn_measure_area.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonArea:hover {
    background: url(../img/ribbon/new_black/btn_measure_area.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconButtonArea {
    background: url(../img/ribbon/new_black/btn_measure_area.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonOrthoMeasure {
    background: url(../img/ribbon/new_black/btn_measure_ortho.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonOrthoMeasure:hover {
    background: url(../img/ribbon/new_black/btn_measure_ortho.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconButtonOrthoMeasure {
    background: url(../img/ribbon/new_black/btn_measure_ortho.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconMeasureDelete {
    background: url(../img/ribbon/new_black/btn_icon_delete.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonProfile {
    background: url(../img/ribbon/new_black/btn_measure_profile.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonProfile:hover {
    background: url(../img/ribbon/new_black/btn_measure_profile.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconButtonProfile {
    background: url(../img/ribbon/new_black/btn_measure_profile.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconMeasureDelete {
    background: url(../img/ribbon/new_black/btn_icon_delete.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconMeasureDelete:hover {
    background: url(../img/ribbon/new_black/btn_icon_delete.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitEditorIconClose{
    background: url(../img/buttons/close30.svg) center no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
}

.tundra .dijitEditorIconClose:hover{
    background: url(../img/buttons/close30_red.svg) center no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
}

.tundra .dijitEditorIconSave {
    background: url(../img/buttons/save.svg) center no-repeat;
    height: 22px;
    width: 22px;
    background-size: contain;
    
}

.tundra .dijitEditorIconSave:hover {
    background: url(../img/buttons/save.svg) center no-repeat;
    height: 22px;
    width: 22px;
    background-size: contain;
    
}

/* Ribbon Redlining Button Bar */

.njsIconRedliningText {
    background: url(../img/ribbon/new_black/btn_rl_text.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningText:hover {
    background: url(../img/ribbon/new_black/btn_rl_text.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconRedliningText {
    background: url(../img/ribbon/new_black/btn_rl_text.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
    
}

.njsIconRedliningPoint {
    background: url(../img/ribbon/new_black/btn_rl_point.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningPoint:hover {
    background: url(../img/ribbon/new_black/btn_rl_point.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconRedliningPoint {
    background: url(../img/ribbon/new_black/btn_rl_point.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningLine {
    background: url(../img/ribbon/new_black/btn_rl_line.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningLine:hover {
    background: url(../img/ribbon/new_black/btn_rl_line.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconRedliningLine {
    background: url(../img/ribbon/new_black/btn_rl_line.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningPolygon {
    background: url(../img/ribbon/new_black/btn_rl_area.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningPolygon:hover {
    background: url(../img/ribbon/new_black/btn_rl_area.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconRedliningPolygon {
    background: url(../img/ribbon/new_black/btn_rl_area.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningCircle {
    background: url(../img/ribbon/new_black/btn_rl_circle.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningCircle:hover {
    background: url(../img/ribbon/new_black/btn_rl_circle.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.tundra .dijitToggleButtonChecked .njsIconRedliningCircle {
    background: url(../img/ribbon/new_black/btn_rl_circle.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningDelete {
    background: url(../img/ribbon/new_black/btn_icon_delete.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningDelete:hover {
    background: url(../img/ribbon/new_black/btn_icon_delete.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningSave {
    background: url(../img/ribbon/new_black/btn_icon_save.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningSave:hover {
    background: url(../img/ribbon/new_black/btn_icon_save.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningFileManager {
    background: url(../img/ribbon/new_black/btn_icon_save.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconRedliningFileManager:hover {
    background: url(../img/ribbon/new_black/btn_icon_save.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

/* Buttons Editing Dialog */

.dijitEditorIconDelete {
    background: url(../img/buttons/trash.svg) center no-repeat;
    height: 22px;
    width: 22px;
    background-size: contain;
    
}

.tundra .dijitEditorIconAddGeom {
    background: url(../img/buttons/addgeom.svg) center no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
    
}

.tundra .dijitEditorIconSplitGeom {
    background: url(../img/buttons/splitgeom.svg) center no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
    
}

.tundra .dijitEditorIconCutGeom {
    background: url(../img/buttons/cutgeom.svg) center no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
    
}

/* Coordinates */

.njsIconButtonCoordPicker {
    display: block;
    background: url(../img/buttons/coords_open.svg);
    height: 24px;
    width: 24px !important;;
}

.njsIconButtonCoordPicker:hover {
    background: url(../img/buttons/coords_open_hover.svg);
}

.njsIconButtonCoordPickerChecked {
    display: block;
    background: url(../img/buttons/coords_locked.svg);
    height: 24px;
    width: 24px !important;
}

/* Background Maps */

.njsIconButtonGrau {
    background-image: url(../img/buttons/bgmaps_grau.png);
}

.njsIconButtonOSM {
    background-image: url(../img/buttons/bgmaps_osm.png);
}

.njsIconButtonStreet {
    background-image: url(../img/buttons/bgmaps_farbe.png);
}

.njsIconButtonOrtho {
    background-image: url(../img/buttons/bgmaps_luft.png);
}

.njsIconButtonAerial {
    background-image: url(../img/buttons/bgmaps_luft.png);
}

.njsIconButtonFarb {
    background-image: url(../img/buttons/bgmaps_farbe.png);
}

.njsIconButtonLeer {
    background-image: url(../img/buttons/bgmaps_leer.png);
}

.njsIconButtonOSM,
.njsIconButtonOrtho,
.njsIconButtonStreet,
.njsIconButtonAerial,
.njsIconButtonFarb,
.njsIconButtonGrau,
.njsIconButtonLeer {
    background-position: 5px;
    background-repeat: no-repeat;
}

/* Specials - to be deleted ??? */

.btnCollaboration {
    background: url(../img/ribbon/new_black/btn_collaboration.svg) center no-repeat;
    width: 32px;
    height: 32px;
}

.btnDownload {
    background: url(../img/ribbon/new_black/btn_download.svg) center no-repeat;
    width: 32px !important;
    height: 32px;
    
}

.btnDownload:hover {
    background: url(../img/ribbon/new_black/btn_download_hover.svg) center no-repeat;
    width: 32px !important;
    height: 32px;
}

#btnShop {
    background: url(../img/ribbon/new_black/btn_shop.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

#btnShop:hover {
    background: url(../img/ribbon/new_black/btn_shop.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
    
}

.njsIconButtonExport {
    background: url(../img/ribbon/new_black/btn_export.svg) center no-repeat;
    height: 32px;
    width: 32px;
    background-size: contain;
}

*[class^="btn"] {
    cursor: pointer;
    
}

.njsIconButtonWMSImp {
    background: url(../img/ribbon/new_black/btn_wms.svg) center no-repeat;
    height: 32px;
    width: 32px;
}

#ribbon_tabs *[class^="btn"] , #ribbon_tabs *[class*="njsIcon"] {
    filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

#ribbon_tabs *[class^="btn"]:hover , #ribbon_tabs *[class*="njsIcon"]:hover {
    filter: unset;
}

#ribbon_tabs .dijitChecked *[class^="btn"] , #ribbon_tabs .dijitChecked *[class*="njsIcon"] {
    filter: unset;
}
