/* -------------------------------------------------------------------------
 * Layout Aspects
 * ---------------------------------------------------------------------- */
html,body {
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-position: left top;
  margin: 10px;
}

body {
  font-family: 'Lucida Grande', "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  color: #6C311B;
  font-size: 12px;
}

#wrapper {
  background: #fff;
}

.mission {
  background: #fff url('../images/bg-shade-white-lrg.png') repeat-x bottom left;
  color: #000;
  border-color: #eee;
}

#footer-content,
.bottom .middle {
  background: #fff;
}

/* -------------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------- */
#page-title { /* Needs to match the top of the background gradient image color */
  background: #323232;
  background: -webkit-linear-gradient(left, #2F2F2F, #E1E1E1);
  background: -moz-linear-gradient(left, #2F2F2F, #E1E1E1);
  background: -ms-linear-gradient(left, #2F2F2F, #E1E1E1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F2F2F', endColorstr='#E1E1E1', GradientType=1);
  color: #fff;
}

#header {
  background: #3A4E6A url('../images/bg-header_geogr.png') top left;
  height: 57px;
}

#header #site-name a {
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  color: #fff;
}

#header #slogan {
  color: #fff;
}

/* -------------------------------------------------------------------------
 * Links/General
 * ---------------------------------------------------------------------- */

a, a:active {
  color: #6C311B;
  border-bottom-color:#6C311B;
  border-bottom-style:dotted;
  border-bottom-width:1px;
  text-decoration:none;
}

a.img { border: none; } 

a, a:visited, li a.active {
  color: #6C311B;
}

a:hover, .buttons div a:hover {
  color: #D1812A;
}

code, pre {
  font-family: 'Monaco', 'Consolas', 'Deja Vu Sans Mono', 'Courier New', courier, monospace;
  color: #888;
}

blockquote, cite {
  background: url('../images/bg-cite.png') no-repeat;
  color: #888;
  font-style: italic;
  padding: 10px 0 0 45px;
}


/* Lists */
ul,ol {
  clear: both;
  margin: 10px;
}

dl {
  width: 100%;
  margin: 10px 0;
}

dt {
  font-weight: 400;
  padding: 2px 0;
  border: none;
}

dd {
  margin: 0;
  padding: 10px 0;
}

/* -------------------------------------------------------------------------
 * Headings
 * ---------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6,  #main h1.title {
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  color: #D1812A;
}

h1 a, h2 a, h3 a, h4 a, h5 a, .node .title a {
  color: #6C311B;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  display: block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.4em;
  margin-bottom: 10px;
  margin-top: 5px;
}

h1 {
  font-size: 2.0em;
  display: block;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

/* -------------------------------------------------------------------------
 * Tables
 * ---------------------------------------------------------------------- */
table, th, thead th, td, td.menu-disabled, #blocks td.block {
  border-color: #ddd;
  font-size: 11px;
}

table.noborder, .noborder tr, .noborder th, .noborder td { border: none; } 

th, thead th {
  background: #fff url('../images/bg-shade-light.png') repeat-x bottom left;
  color: #777;
}

td.active, tr.even, tr.odd {
  background-color: #fff;
}

td.menu-disabled, tr.even td {
  background: #eee;
}

td:hover, tr.even td:hover, tr.odd td:hover {
  background-color: #ddd;
}

