.tundra .dijitDialog {
	background:none repeat scroll 0 0 #FFFFFF;
	background-color:#fff;
	border: 1px solid #000; 
	overflow: hidden;
	-webkit-box-shadow: 0 0 1em #26393D;
	-moz-box-shadow: 0 0 1em #26393D;
	box-shadow: 0 0 1em #26393D;
	color:#4c535b;
}

.tundra .dijitDialogTitleBar {
	background:url("") repeat-x scroll left bottom #4c535b;
	border:1px solid #4c535b;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	background-color:#4c535b;
	color:#fff;
}

.tundra .dijitDialogPaneContent {
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #000;
	padding:10px;
}

.tundra .dijitDialogCloseIcon {
  cursor: pointer;
  background: url(/mapplus-lib/dojo-release-1.10.9/dijit/themes/claro/layout/images/tabClose.png) no-repeat scroll 0 0 transparent;
  width: 12px; height: 12px;
  margin: 4px;
  top:0px;
  right:0px;
}

.freePaneCloseButton{
  margin: 4px;
 text-align:center;
}

.freePaneContent{
	font-size:12px
}

