/* General */

/* Application Logo */

/* #logoMapPlus {
	height: 100px;
	width: 340px;
	background: url(../img/ownw_logo.svg) center no-repeat #fff;
	background-size: 240px;
} */

/* Application Loading Icon */

#preloader {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff url('../img/buttons/loading.gif') no-repeat center center;
	position: absolute;
	z-index: 9999;
}

.loadingMsg {
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	background: #fff url('../img/buttons/loading.gif') no-repeat center center;
	position: absolute;
	z-index: 9999;
}

/* Solr Search Dialog */

#solrsearchFreeInput_close {
    display: block;
    background: url(../img/buttons/close30Blue.svg) center center no-repeat;
    background-size: contain;
    margin-left: 5px !important;
    margin-top: -1px !important;
    width: 31px;
    height: 28px;
    cursor: pointer;
}

#solrHelp {
    width: 28px;
    height: 28px;
    margin-left: 5px;
    display: block;
    background: url(../img/buttons/help30_red.svg) center center no-repeat #cd0119;
    cursor: help;
    filter: hue-rotate(220deg);
}

/* Close Button */

#close-btn {
    background: url(../img/buttons/close30.svg) !important;
    background-size: contain !important;
    width: 24px;
    height: 24px;
    display: block;
    background-size: contain;
}

/* Print Button Legends */

#print-btn {
    width: 24px;
    height: 24px;
    display: block;
    background-size: contain !important;
    background: url(../img/buttons/printer.svg) !important;
}

/* Other Buttons */

.njsIconButtonPrint {
	background: url(../img/buttons/icon_print_btn.png) center no-repeat;
	height: 18px;
	width: 18px;
}

.njsIconButtonPDFPrint {
	background: url(../img/buttons/btn_pdf.svg) center no-repeat;
	height: 32px;
	width: 32px;
}

.njsIconButtonImage {
	background: url(../img/buttons/btn_preview.svg) center no-repeat;
	height: 32px;
	width: 32px;
}

.njsIconButtonVorExport {
	background: url(../img/buttons/btn_vorexport.svg) center no-repeat !important;
	height: 32px;
	width: 32px;
	background-size: contain !important;
}

.dijitButtonExport:hover {
	background: #e1e1e1 !important;
}

/* Function Buttons */

.dijitButtonExport:hover {
	background: #e1e1e1 !important;
}

*[class^="btn"] {
	cursor: pointer;
	background-size: 24px 24px !important;
}

.map_selector:hover {
	color: #FFF !important;
	/*background-color: #009fe3 !important;*/
	background-color: #a7a7a7 !important;
}

#btnMapContainer_main {
	display: block;
	position: relative;
	top: -5px;
	width: 220px;
	right: 310px;
}

.btnMapContainer ul:first-child {
	border-radius: 10px 0 0 0;
}

.btnMapContainer:last-child {
	border-radius: 0 0 0 10px;
}

/* btnMaps text*/

div.appLayout div {
	font-size: 10px;
	line-height: 14px;
	color: #333;
	font-stretch: ultra-condensed;
}

.btnZoomIn {
	background: url('../img/buttons/plus.svg') 13px center no-repeat rgba(0, 0, 0, 0.7);
	background-size: 16px 16px !important;
}

.btnZoomOut {
	background: url('../img/buttons/minus.svg') 13px center no-repeat rgba(0, 0, 0, 0.7);
	background-size: 16px 16px !important;
}

.btnFullScreen {
	background: url('../img/buttons/fullscreen.svg') 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btngeoportal {
	background: url('../img/buttons/mapplus_link.svg') 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnMaps {
	background: url(../img/buttons/btn_bgmaps.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnThemes {
	background: url(../img/buttons/btn_theme.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnInitialExtent {
	background: url(../img/buttons/btn_home.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnStreetView {
	background: url(../img/buttons/btn_streetview.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnInfra3D {
	background: url(../img/buttons/btn_infra3D.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

.btnLogout {
	background: url(../img/buttons/btn_logout.svg) top left no-repeat;
}

.btnLocate {
	background: url(../img/buttons/btn_locate.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnShop {
	background: url(../img/buttons/btn_download.png) 9px center no-repeat;
	height: 32px;
	width: 32px;
}

.locate_active {
	background-color: #80000fee !important;
}

.btnRemoveLayers {
	background: url(../img/buttons/btn_layers.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnHelp {
	background: url(../img/buttons/btn_help.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

.btnLogout {
	background: url(../img/buttons/btn_logout.png) 12px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnLogin {
	background: url(../img/buttons/btn_logout.png) 12px center no-repeat;
	filter: FlipH;
	width: 32px;
	height: 32px;
}

.btnNightDay {
	background: url(../img/buttons/btn_moon.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

#btn_filtered_export,
.btnExportFilteredLayers {
	background: url(../img/buttons/btn_tabview.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

#btn_filtered_export,
.btnExportFilteredLayers {
	background: url(../img/buttons/btn_tabview.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

.btnToggleTabView {
	background: url(../img/buttons/btn_tabview.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

.btnToggleMapView {
	background: url(../img/buttons/btn_mapview.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

.btnSplitView {
	background: url(../img/buttons/btn_splitview.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btn3D {
	background: url(../img/buttons/btn_3d.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.btnCollaboration {
	background: url(../img/buttons/btn_collaboration.svg) center no-repeat;
	width: 32px;
	height: 32px;
}

.btnDownload {
	background: url(../img/buttons/btn_download.png) 9px center no-repeat;
	width: 32px;
	height: 32px;
}

.njsIconButtonExport {
	background: url(../img/buttons/btn_export.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
}

/* Tools */

/* Measure */

.njsIconButtonSimple {
	background: url(../img/ribbon/btn_measure_simple.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconButtonSimple {
	background: url(../img/ribbon/btn_measure_simple.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconButtonRuler {
	background: url(../img/ribbon/btn_measure_line.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconButtonRuler {
	background: url(../img/ribbon/btn_measure_line.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconButtonArea {
	background: url(../img/ribbon/btn_measure_area.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconButtonArea {
	background: url(../img/ribbon/btn_measure_area.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconButtonOrthoMeasure {
	background: url(../img/ribbon/btn_ortho_ortho.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconButtonOrthoMeasure {
	background: url(../img/ribbon/btn_ortho_ortho.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconButtonProfile {
	background: url(../img/ribbon/btn_measure_profile.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconButtonProfile {
	background: url(../img/ribbon/btn_measure_profile.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconMeasureDelete {
	background: url(../img/ribbon/btn_icon_delete.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

/* Redlining Buttons */

.njsIconRedliningText {
	background: url(../img/ribbon/btn_rl_text.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconRedliningText {
	background: url(../img/ribbon/btn_rl_text.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconRedliningPoint {
	background: url(../img/ribbon/btn_rl_point.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconRedliningPoint {
	background: url(../img/ribbon/btn_rl_point.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconRedliningLine {
	background: url(../img/ribbon/btn_rl_line.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconRedliningLine {
	background: url(../img/ribbon/btn_rl_line.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconRedliningPolygon {
	background: url(../img/ribbon/btn_rl_area.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconRedliningPolygon {
	background: url(../img/ribbon/btn_rl_area.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconRedliningCircle {
	background: url(../img/ribbon/btn_rl_circle.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.tundra .dijitToggleButtonChecked .njsIconRedliningCircle {
	background: url(../img/ribbon/btn_rl_circle.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: none;
}

.njsIconRedliningDelete {
	background: url(../img/ribbon/btn_icon_delete.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.njsIconRedliningSave {
	background: url(../img/ribbon/btn_icon_save.svg) center no-repeat;
	height: 32px;
	width: 32px;
	background-size: contain;
	filter: brightness(0) saturate(100%) invert(44%) sepia(39%) saturate(393%) hue-rotate(138deg) brightness(90%) contrast(86%);
}

.njsIconRedliningFileManager {
	background: url(../img/tools/btn_icon_filemanager.svg) center no-repeat;
	height: 32px;
	width: 32px;
}

/* Buttons Editing Dialog */

.dijitEditorIconDelete {
	background: url(../img/buttons/trash.svg) center no-repeat;
	height: 20px;
	width: 20px;
	background-size: contain;
}

.tundra .dijitEditorIconAddGeom {
	background: url(../img/buttons/addgeom.svg) center no-repeat;
	height: 18px;
	width: 18px;
	filter: grayscale(100%);
}

.tundra .dijitEditorIconSplitGeom {
    background: url(../img/buttons/splitgeom.svg) center no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
}

.tundra .dijitEditorIconCutGeom {
	background: url(../img/buttons/cutgeom.svg) center no-repeat;
	height: 18px;
	width: 18px;
	filter: grayscale(100%);
}

/* Background Maps */

.njsIconButtonGrau {
	background-image: url(../img/buttons//bgmaps_grau.png);
}

.njsIconButtonOSM {
	background-image: url(../img/buttons//bgmaps_osm.png);
}

.njsIconButtonStreet {
	background-image: url(../img/buttons//bgmaps_farbe.png);
}

.njsIconButtonOrtho {
	background-image: url(../img/buttons//bgmaps_luft.png);
}

.njsIconButtonAerial {
	background-image: url(../img/buttons//bgmaps_luft.png);
}

.njsIconButtonFarb {
	background-image: url(../img/buttons//bgmaps_farbe.png);
}

.njsIconButtonLeer {
	background-image: url(../img/buttons//bgmaps_leer.png);
}

.njsIconButtonOSM,
.njsIconButtonOrtho,
.njsIconButtonStreet,
.njsIconButtonAerial,
.njsIconButtonFarb,
.njsIconButtonGrau,
.njsIconButtonLeer {
	background-position: 5px;
	background-repeat: no-repeat;
}

