/* Redlining Marker */

.njsIconRL_circle_blue {
	background: url(../img/redlining/circle_blue.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_circle_blue {
	background: url(../img/redlining/circle_blue_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_circle_green {
	background: url(../img/redlining/circle_green.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_circle_green {
	background: url(../img/redlining/circle_green_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_circle_red {
	background: url(../img/redlining/circle_red.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_circle_red {
	background: url(../img/redlining/circle_red_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_circle_yellow {
	background: url(../img/redlining/circle_yellow.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_circle_yellow {
	background: url(../img/redlining/circle_yellow_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_pin_blue {
	background: url(../img/redlining/pin_blue.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_blue {
	background: url(../img/redlining/pin_blue_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_pin_green {
	background: url(../img/redlining/pin_green.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_green {
	background: url(../img/redlining/pin_green_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_pin_red {
	background: url(../img/redlining/pin_red.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_red {
	background: url(../img/redlining/pin_red_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_pin_yellow {
	background: url(../img/redlining/pin_yellow.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_yellow {
	background: url(../img/redlining/pin_yellow_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_flag_blue {
	background: url(../img/redlining/flag_blue.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_flag_blue {
	background: url(../img/redlining/flag_blue_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_flag_green {
	background: url(../img/redlining/flag_green.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_flag_green {
	background: url(../img/redlining/flag_green_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_flag_red {
	background: url(../img/redlining/flag_red.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_flag_red {
	background: url(../img/redlining/flag_red_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_flag_yellow {
	background: url(../img/redlining/flag_yellow.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_flag_yellow {
	background: url(../img/redlining/flag_yellow_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_danger_red {
	background: url(../img/redlining/danger_red.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_danger_red {
	background: url(../img/redlining/danger_red_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_danger_yellow {
	background: url(../img/redlining/danger_yellow.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_danger_yellow {
	background: url(../img/redlining/danger_yellow_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_info {
	background: url(../img/redlining/info.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_info {
	background: url(../img/redlining/info_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_question {
	background: url(../img/redlining/question.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_question {
	background: url(../img/redlining/question_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_pencil {
	background: url(../img/redlining/pencil.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pencil {
	background: url(../img/redlining/pencil_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_tag {
	background: url(../img/redlining/tag.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag {
	background: url(../img/redlining/tag_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_tool {
	background: url(../img/redlining/tool.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tool {
	background: url(../img/redlining/tool_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_tools {
	background: url(../img/redlining/tools.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tools {
	background: url(../img/redlining/tools_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_home {
	background: url(../img/redlining/home.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_home {
	background: url(../img/redlining/home_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_play {
	background: url(../img/redlining/play.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_play {
	background: url(../img/redlining/play_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_fire {
	background: url(../img/redlining/fire.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_fire {
	background: url(../img/redlining/fire_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_love {
	background: url(../img/redlining/love.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.tundra .dijitToggleButtonChecked .njsIconRL_love {
	background: url(../img/redlining/love_checked.png) center no-repeat;
	height: 24px;
	width: 24px;
}

.njsIconRL_poi_red {
	background: url(../img/redlining/poi_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_red {
	background: url(../img/redlining/poi_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_orange {
	background: url(../img/redlining/poi_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_orange {
	background: url(../img/redlining/poi_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_yellow {
	background: url(../img/redlining/poi_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_yellow {
	background: url(../img/redlining/poi_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_blue {
	background: url(../img/redlining/poi_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_blue {
	background: url(../img/redlining/poi_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_green {
	background: url(../img/redlining/poi_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_green {
	background: url(../img/redlining/poi_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_cyan {
	background: url(../img/redlining/poi_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_cyan {
	background: url(../img/redlining/poi_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_pink {
	background: url(../img/redlining/poi_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_pink {
	background: url(../img/redlining/poi_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_purple {
	background: url(../img/redlining/poi_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_purple {
	background: url(../img/redlining/poi_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_red_svg {
	background: url(../img/redlining/pin_red.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_red_svg {
	background: url(../img/redlining/pin_red.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_orange_svg {
	background: url(../img/redlining/pin_orange.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_orange_svg {
	background: url(../img/redlining/pin_orange.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_yellow_svg {
	background: url(../img/redlining/pin_yellow.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_yellow_svg {
	background: url(../img/redlining/pin_yellow.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_blue_svg {
	background: url(../img/redlining/pin_blue.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_blue_svg {
	background: url(../img/redlining/pin_blue.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_green_svg {
	background: url(../img/redlining/pin_green.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_green_svg {
	background: url(../img/redlining/pin_green.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_cyan_svg {
	background: url(../img/redlining/pin_cyan.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_cyan_svg {
	background: url(../img/redlining/pin_cyan.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_pink_svg {
	background: url(../img/redlining/pin_pink.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_pink_svg {
	background: url(../img/redlining/pin_pink.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pin_purple_svg {
	background: url(../img/redlining/pin_purple.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pin_purple_svg {
	background: url(../img/redlining/pin_purple.svg) center no-repeat;
	height: 24px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}
.njsIconRL_poi_info_red {

	background: url(../img/redlining/poi_info_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_red {
	background: url(../img/redlining/poi_info_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_orange {
	background: url(../img/redlining/poi_info_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_orange {
	background: url(../img/redlining/poi_info_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_yellow {
	background: url(../img/redlining/poi_info_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_yellow {
	background: url(../img/redlining/poi_info_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_blue {
	background: url(../img/redlining/poi_info_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_blue {
	background: url(../img/redlining/poi_info_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_green {
	background: url(../img/redlining/poi_info_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_green {
	background: url(../img/redlining/poi_info_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_cyan {
	background: url(../img/redlining/poi_info_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_cyan {
	background: url(../img/redlining/poi_info_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_pink {
	background: url(../img/redlining/poi_info_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_pink {
	background: url(../img/redlining/poi_info_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_poi_info_purple {
	background: url(../img/redlining/poi_info_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_poi_info_purple {
	background: url(../img/redlining/poi_info_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_red {

	background: url(../img/redlining/pushpin_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_red {
	background: url(../img/redlining/pushpin_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_orange {
	background: url(../img/redlining/pushpin_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_orange {
	background: url(../img/redlining/pushpin_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_yellow {
	background: url(../img/redlining/pushpin_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_yellow {
	background: url(../img/redlining/pushpin_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_blue {
	background: url(../img/redlining/pushpin_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_blue {
	background: url(../img/redlining/pushpin_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_green {
	background: url(../img/redlining/pushpin_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_green {
	background: url(../img/redlining/pushpin_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_cyan {
	background: url(../img/redlining/pushpin_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_cyan {
	background: url(../img/redlining/pushpin_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_pink {
	background: url(../img/redlining/pushpin_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_pink {
	background: url(../img/redlining/pushpin_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_pushpin_purple {
	background: url(../img/redlining/pushpin_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_pushpin_purple {
	background: url(../img/redlining/pushpin_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_red {

	background: url(../img/redlining/position_man_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_red {
	background: url(../img/redlining/position_man_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_orange {
	background: url(../img/redlining/position_man_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_orange {
	background: url(../img/redlining/position_man_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_yellow {
	background: url(../img/redlining/position_man_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_yellow {
	background: url(../img/redlining/position_man_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_blue {
	background: url(../img/redlining/position_man_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_blue {
	background: url(../img/redlining/position_man_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_green {
	background: url(../img/redlining/position_man_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_green {
	background: url(../img/redlining/position_man_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_cyan {
	background: url(../img/redlining/position_man_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_cyan {
	background: url(../img/redlining/position_man_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_pink {
	background: url(../img/redlining/position_man_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_pink {
	background: url(../img/redlining/position_man_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_position_man_purple {
	background: url(../img/redlining/position_man_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_position_man_purple {
	background: url(../img/redlining/position_man_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_red {

	background: url(../img/redlining/tag_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_red {
	background: url(../img/redlining/tag_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_orange {
	background: url(../img/redlining/tag_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_orange {
	background: url(../img/redlining/tag_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_yellow {
	background: url(../img/redlining/tag_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_yellow {
	background: url(../img/redlining/tag_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_blue {
	background: url(../img/redlining/tag_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_blue {
	background: url(../img/redlining/tag_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_green {
	background: url(../img/redlining/tag_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_green {
	background: url(../img/redlining/tag_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_cyan {
	background: url(../img/redlining/tag_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_cyan {
	background: url(../img/redlining/tag_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_pink {
	background: url(../img/redlining/tag_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_pink {
	background: url(../img/redlining/tag_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_tag_purple {
	background: url(../img/redlining/tag_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_tag_purple {
	background: url(../img/redlining/tag_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_red {

	background: url(../img/redlining/smiley_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_red {
	background: url(../img/redlining/smiley_red.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_orange {
	background: url(../img/redlining/smiley_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_orange {
	background: url(../img/redlining/smiley_orange.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_yellow {
	background: url(../img/redlining/smiley_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_yellow {
	background: url(../img/redlining/smiley_yellow.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_blue {
	background: url(../img/redlining/smiley_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_blue {
	background: url(../img/redlining/smiley_blue.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_green {
	background: url(../img/redlining/smiley_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_green {
	background: url(../img/redlining/smiley_green.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_cyan {
	background: url(../img/redlining/smiley_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_cyan {
	background: url(../img/redlining/smiley_cyan.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_pink {
	background: url(../img/redlining/smiley_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_pink {
	background: url(../img/redlining/smiley_pink.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}

.njsIconRL_smiley_purple {
	background: url(../img/redlining/smiley_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
}

.tundra .dijitToggleButtonChecked .njsIconRL_smiley_purple {
	background: url(../img/redlining/smiley_purple.svg) center no-repeat;
	height: 30px;
	width: 24px;
    background-size: contain;
    filter: drop-shadow(2px 2px 2px grey);
}