body {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size:14px;
	color: #111;
}

label {
	min-width: 100px;
	text-align: left;
}
.textbox {
	width: 100%;
	/* min-width: 290px; */
}

.container {
	margin-top: 5% !important;
	width: 450px;
	display:block;
	margin:auto;
	text-align: center;
	box-shadow: 0px 0px 20px #666;
	padding: 20px;
}
.logo{
	display:block;
	background: url('../templates/nwow_floating/img/ownw_logo.svg') center center no-repeat;
	background-size: contain;
	width:450px;
	height:150px;
	margin:auto;	
}

.footer {
	display:block;
	/* background: url('../templates/dkbag_template/img/mmpag.png') center center no-repeat; */
	background-size: contain;
	width:auto;
	height:30px;
	margin:auto;
	margin-top: 15px;
}

.row {
	width: 350px;
	display:flex;
	justify-content: space-between;
	width: 100%;
	margin:auto;
	margin-top: 10px;
}

.project {
	margin-top: 10px;
}

.button {
	padding: 5px;
	background-color:#747474;
	color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}

.row:last-of-type {
	justify-content: center;
}

input, textarea, select,button {
	color: #000000;
	background-color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	border:1px solid Gray;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.leftlogin {
	font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
	font-size: 14px;
	
}

.title {
	color:Gray;
	font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
	font-size: 20px;
	margin-top: 10px;
	
}

.rightlogin {
	height: 35px;
}

.generalist {
	font-size: 16px;
	font-weight: normal;
	color:#10146b;
	font-style:italic;
	font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
}

@media screen and (min-device-width: 320px) and (max-device-width: 640px) {
	body {
		font-size: 2em;
	}

	input[type=text],
	input[type=password] {
		font-size: 1em;
		padding: 0.2em;
	}

	.button {
		font-size: 1em;
		padding: 20px;
		margin-top: 2vh;
	}

	#groupselect {
		font-size: 1em;
		padding: 20px;
		margin-top: 2vh;
	}

	.title {
		font-size: 1em;
		margin-bottom: 10vh
	}
	.container, .row {
		width: 80%;
	}

	.project {
		margin-bottom: 5vh;
	}

	.container {
		height: 80vh;
	}

	.textbox {
		height: 2vh;
	}
	
	.logo {
		width: auto;
	}
	.row {
		justify-content: flex-start;
		flex-direction: column;
	}
	
	.label {
		min-width: 80px;
		margin-bottom: 1vh;
		margin-top: 1vh;
	}
	.message {
		margin-top: 5vh;
	}
}