input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type=submit] {
    -webkit-border-radius:0px;
}

.leftlogin {
	color:#832f33;
	font-style:italic;
	font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
	font-size: 18px;
	
}

.title {
	color:#10146b;
	font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
	font-size: 26px;
	
}

.rightlogin {
	background-color:#f1f0fe;
	height: 50px;
}

.textbox {
    background-color: #FFFFFF;
    border-color: #4b4b4b;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.button {
	font-size: 24px;
	
}

.generalist {
	font-size: 18px;
	font-weight: normal;
	color:#4b4b4b;
	font-style:italic;
	font-family: Verdana,Lucida,Helvetica,Arial,sans-serif;
}